.diverse{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;

  div{
    min-width: 50%;
  }
}

.display-print{
  display: none;
  position: absolute;
  bottom: 0;
}