body{
  background-image: url("./assets/backgg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Blinker;
  line-height: 1.8;
}

#root{

  display: flex;
  justify-content: center;
	align-items: center;
	margin: 5rem 0.3rem;
}

.page-container{
  display: flex;
  flex-direction: column;
  gap: 5rem;
	
}

.page-one-container, .page-two-container{
  display: flex;
  align-items: center;
	box-shadow: 3px 3px 10px 1px black;
}

.page-one, .page-two{
  max-width: 26cm;
  border: 0.5px solid rgba(1,1,1,0.2);
  padding: 20px 30px;
  background-color: rgba(255,255,255,0.98);
	position: relative;
}

a{
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: goldenrod;
}

.icon-wrapper{
 display: flex;
 gap: 3px;
}