header{
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-around;

  .header-wrapper{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
    max-width: 26cm;
    width: 100%;
    
  
    div{
      margin: 0 5px;
    }

    .switch {
      position: relative;
      display: inline-block;
    }
    
    .switch > span {
      position: absolute;
      top: 1px;
      pointer-events: none;
      font-family: 'Helvetica', Arial, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
      width: 50%;
      text-align: center;
    }
    
    input.check-toggle-round-flat:checked ~ .off {
      color: black;
    }
    
    input.check-toggle-round-flat:checked ~ .on {
      color: rgba(0, 0, 0, .5);
    }
    
    .switch > span.on {
      left: 0;
      padding-left: 2px;
      color: black;
    }
    
    .switch > span.off {
      right: 0;
      padding-right: 0px;
      color: rgba(0, 0, 0, .5);
    }
    
    .check-toggle {
      position: absolute;
      margin-left: -9999px;
      visibility: hidden;
    }
    .check-toggle + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    input.check-toggle-round-flat + label {
      padding: 2px;
      width: 97px;
      height: 20px;
      background-color: white;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      border-radius: 60px;
    }
    input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
      display: block;
      position: absolute;
      content: "";
    }
    
    input.check-toggle-round-flat + label:before {
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      background-color: white;
      -moz-border-radius: 60px;
      -ms-border-radius: 60px;
      -o-border-radius: 60px;
      border-radius: 60px;
    }
    input.check-toggle-round-flat + label:after {
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 54px;
      background-color: goldenrod;
      -webkit-border-radius: 52px;
      -moz-border-radius: 52px;
      -ms-border-radius: 52px;
      -o-border-radius: 52px;
      border-radius: 52px;
      -webkit-transition: margin 0.2s;
      -moz-transition: margin 0.2s;
      -o-transition: margin 0.2s;
      transition: margin 0.2s;
      outline: 1px solid black;
    }
    
    input.check-toggle-round-flat:checked + label {
    }
    
    input.check-toggle-round-flat:checked + label:after {
      margin-left: 44px;
    }
  }
}

