h1{
  font-weight: 700;
  font-size: xx-large;
  margin: 10px 0;
}

h2{
  font-weight: 600;
  font-size: x-large;
  margin: 6px 0;
}

h3{
  font-weight: 500;
  font-size: large;
  margin: 4px 0;
}

h4{
  font-weight: 500;
  font-size: medium;
  margin: 2px 0;
}