.profil-wrapper{
    h4{
      text-align: center;
    }
  
    .mi-info{
    }
  
  .kunskap-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 5%;
  
    div{
      min-width: 45%;
    }
  }
  
  .kurser{
  
    li{
      display: flex;
      gap: 0.3rem;
    }
  }
  
  .kunskap{
    display: flex;
    flex-direction: column;
  
    li{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}