.mi-kurs h4 {
  text-align: center;
}
.kunskap-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}
.kunskap-wrapper div {
  min-width: 45%;
}

.kurser li {
  display: flex;
  gap: 0.3rem;
}

.kunskap {
  display: flex;
  flex-direction: column;
}
.kunskap li {
  display: flex;
  align-items: center;
  gap: 5px;
}